<html>
    <head>
        <title>Bhea_trix</title>
    </head>
    <body>
        <div>
            <h1><a href="">Bheatrix's Mind</a></h1>
        </div>

        <div>
            <p>published: 29.07.2015</p>
            <h2><a href="">Vinte e nove</a></h2>
            <p>Um dia eu li</p>
<p>que estrelas de nêutrons são tão densas </p>
<p>que é como se alguém tivesse</p>
<p>colocado toda a massa da humanidade</p>
<p>numa colher de café.</p>
<p>Meu coração é uma dessas estrelas.</p>
<p>nele moram todas as angústias do universo</p>
<p>E desejos</p>
<p>Que de vez em quando explodem</p>
<p>em líquido </p>
<p>e dão origem a milhares de novos sóis </p>
<p>que orbitam em minhas artérias.</p>
<p>É denso, mas também leve</p>
<p>meu coração.</p>
<p>Ele tem o peso da fumaça </p>
<p>que adorna os teus belos lábios </p>
<p>Enquanto você fala</p>
<p>dos seus medos</p>
<p>e da vida, certamente</p>
<p>E talvez sobre o universo e tudo mais</p>
<p>Porque de repente, me desculpe,</p>
<p>eu não lembro mais do que você falava </p>
<p>Me perdi entre as constelações gravadas na sua mandíbula </p>
<p>tentando achar o caminho de volta da fenda</p>
<p>que os seus bem desenhados caninos abriram na minha sanidade.</p>
<p>Tão logo eu me entrego </p>
<p>ao delírio </p>
<p>que dá </p>
<p>o aroma fresco da sua respiração</p>
<p>E busco remédio na sua saliva </p>
<p>que me afoga, me mata</p>
<p>me come!</p>
<p>Tentando não sentir o amargo</p>
<p>gosto que tem o som </p>
<p>dos ponteiros do relógio </p>
<p>do cuco dos sete dias</p>
<p>Que vem anunciar</p>
<p>a tão famosa hora </p>
<p>de nos despirmos e vestirmos nossas fantasias - eu falcão, você lobo</p>
<p>enquanto nossos corpos fogem cada um para seu lado do mar.</p>
<p>E quando me inundo em lágrimas</p>
<p>que encharcariam sua camisa cor-de-uva</p>
<p>se você me abraçasse</p>
<p>É porque vejo no escuro dos seus olhos a sombra da eternidade</p>
<p>Aquela velha ideia</p>
<p>enferma</p>
<p>utópica</p>
<p>que rasga a pele e reacende o ardor das cicatrizes</p>
<p>de todos os fins de mundos que eu vivi.</p>
<p>E eu te falo para não perdermos tempo</p>
<p>Mas o que é o tempo, afinal?</p>
<p>Se não mais um lugar</p>
<p>Dentre tantos outros</p>
<p>Inóspito, que não se sabe o endereço </p>
<p>Talvez aquele lugar debaixo da minha cama</p>
<p>Que se curva - com o espaço -</p>
<p>A cada balançar de nossos corpos.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
