<html>
    <head>
        <title>Bhea_trix</title>
    </head>
    <body>
        <div>
            <h1><a href="">Bheatrix's Mind</a></h1>
        </div>

        <div>
            <p>published: 29.07.2015</p>
            <h2><a href="">Vinte e nove</a></h2>
            <p>Um dia eu li
que estrelas de nêutrons são tão densas 
que é como se alguém tivesse
colocado toda a massa da humanidade
numa colher de café.
Meu coração é uma dessas estrelas.
nele moram todas as angústias do universo
E desejos
Que de vez em quando explodem
em líquido 
e dão origem a milhares de novos sóis 
que orbitam em minhas artérias.
É denso, mas também leve
meu coração.
Ele tem o peso da fumaça 
que adorna os teus belos lábios 
Enquanto você fala
dos seus medos
e da vida, certamente
E talvez sobre o universo e tudo mais
Porque de repente, me desculpe,
eu não lembro mais do que você falava 
Me perdi entre as constelações gravadas na sua mandíbula 
tentando achar o caminho de volta da fenda
que os seus bem desenhados caninos abriram na minha sanidade.
Tão logo eu me entrego 
ao delírio 
que dá 
o aroma fresco da sua respiração
E busco remédio na sua saliva 
que me afoga, me mata
me come!
Tentando não sentir o amargo
gosto que tem o som 
dos ponteiros do relógio 
do cuco dos sete dias
Que vem anunciar
a tão famosa hora 
de nos despirmos e vestirmos nossas fantasias - eu falcão, você lobo
enquanto nossos corpos fogem cada um para seu lado do mar.
E quando me inundo em lágrimas
que encharcariam sua camisa cor-de-uva
se você me abraçasse
É porque vejo no escuro dos seus olhos a sombra da eternidade
Aquela velha ideia
enferma
utópica
que rasga a pele e reacende o ardor das cicatrizes
de todos os fins de mundos que eu vivi.
E eu te falo para não perdermos tempo
Mas o que é o tempo, afinal?
Se não mais um lugar
Dentre tantos outros
Inóspito, que não se sabe o endereço 
Talvez aquele lugar debaixo da minha cama
Que se curva - com o espaço -
A cada balançar de nossos corpos.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
